## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = 'David'

5) Crear una variable que contenga un número complejo

In [5]:
b = 5 + 10j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(b))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [4]:
var_Pi = 3.1416
print(var_Pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [5]:
var_a = 'True'
var_b = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [6]:
print('La variable 1 es de ripo ', type(var_a), 'y la variable 2 es de tipo ', type(var_b))

La variable 1 es de ripo  <class 'str'> y la variable 2 es de tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [8]:
var_x = 10 + 10.5
print(var_x)

20.5

11) Realizar una operación de suma de números complejos

In [11]:
c1 = (10 + 2.3j) + (5 + 3j)
print(c1)

(15+5.3j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
c2 = 20
c3 = 5 + 4j
print(c2 + c3)

(25+4j)

13) Realizar una operación de multiplicación

In [14]:
print(c1 * c2)

(300+106j)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
y = 27 / 4
print(y)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [22]:
var_5 = '5 '
var_6 = 'Minutos'
print(var_5 + var_6)

5 Minutos

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
int('2') == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
a = '3,8'
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [35]:
a = a.replace(',','.')
a = float(a)

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [37]:
a = 3
a -= 1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [44]:
2 >> 8

0

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [46]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
str(2) + str('2')

'22'

In [48]:
int(2) + int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [52]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + '3 veces')

este texto se repite este texto se repite este texto se repite 3 veces